Importing Pandas liberary

In [ ]:
import pandas as pd

Class with Functions

In [ ]:
class mathfn:
    def Min(self,list1, num):
        min1 = list1[0]
        for i in range(num):
            if list1[i] < min1:
                min1 = list1[i]
        return(min1)
    def Max(self, list1,num):
        max1 = list1[0]
        for i in range(num):
            if list1[i] > max1:
                max1 = list1[i]
        return(max1)
    def Fact(self, num):
        fact = 1
        for i in range(1, num+1):
          fact = fact * i
        return(fact)
    def Sqrt(self, num):
        num = num **0.5
        return(num)
    def abs(self, num):
        if(num < 0):
          num = num * -1
          return(num)
        else:
          return(num)

Printing the table for user to choose the function

In [ ]:
print("Choose a value for the given Functions: ")
dict = {'Function': ['Min_number', 'Min_Number', 'Factorial', 'Square_Root', 'Absolute_Value']}
df = pd.DataFrame(dict)
display(df)

Choose a value for the given Functions:

         Function
0      Min_number
1      Min_Number
2       Factorial
3     Square_Root
4  Absolute_Value

Call functions

In [ ]:
number = int(input("Enter Value from the given List: "))
obj = mathfn()
list1 = []
if (number == 0):
  num = int(input("Enter number of elements in list: "))
  for i in range(1, num + 1):
    ele = int(input("Enter elements: "))
    list1.append(ele)
  print(list1)
  print("The Minimum Value is:")
  print(obj.Min(list1, num ))
    
elif(number == 1):
    num = int(input("Enter number of elements in list: "))
    for i in range(1, num + 1):
      ele= int(input("Enter elements: "))
      list1.append(ele)
    print(list1)
    print("The Maximum Value is:")
    print(obj.Max(list1, num ))
    
elif(number == 2):
    num = int(input("Enter number: "))
    print("The Factorial is:", obj.Fact(num))
    
elif(number == 3):
    num = int(input("Enter number: "))
    print("The Square Root is:", obj.Sqrt(num))
    
elif(number == 4):
    num = int(input("Enter number: "))
    print("The Absolute value is:", obj.abs(num))
else:
  print("INVALID Value!!!")

Enter Value from the given List: 4
Enter number: 78
The Absolute value is: 78